SUPABASE_URL=https://bmltansxnqofkxcfpqmw.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJtbHRhbnN4bnFvZmt4Y2ZwcW13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNzQ4NDcsImV4cCI6MjA4ODY1MDg0N30.Sb5S26IKnaoUKCWTBe4P9Ao4kiO_Cx71LYPq7Hma1vk
